In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 14076, done.
remote: Counting objects: 100% (4500/4500), done.
remote: Compressing objects: 100% (2703/2703), done.
remote: Total 14076 (delta 1819), reused 4274 (delta 1604), pack-reused 9576
Receiving objects: 100% (14076/14076), 20.38 MiB | 14.63 MiB/s, done.
Resolving deltas: 100% (6038/6038), done.
Updating files: 100% (7551/7551), done.

In [2]:
import pandas as pd
import json
import pprint
import os
import numpy as np

In [3]:
# aggregate_transaction
paths='/content/pulse/data/aggregated/transaction/country/india/state/'
agg_state_list=os.listdir(paths)
agg_state_list

#This is to extract the data's to create a dataframe
clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in agg_state_list:
    cur_sates=paths+i+'/'
    agg_yr=os.listdir(cur_sates)
    for j in agg_yr:
        cur_yr=cur_sates+j+'/'
        agg_yr_list=os.listdir(cur_yr)
        for k in agg_yr_list:
            cur_file=cur_yr+k
            data=open(cur_file,'r')
            D=json.load(data)
            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm['Transaction_type'].append(Name)
                clm['Transaction_count'].append(count)
                clm['Transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quarter'].append(int(k.strip('.json')))
Agg_trans=pd.DataFrame(clm)


Agg_trans['State']=Agg_trans['State'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
Agg_trans['State']=Agg_trans['State'].str.replace('-','')
Agg_trans['State']=Agg_trans['State'].str.title()
Agg_trans['State']=Agg_trans['State'].str.replace('Dadra&Nagarhaveli&Daman&Diu', 'Dadra and Nagar Haveli and Daman and Diu')
Agg_trans['State']=Agg_trans['State'].replace({
                                              'Jammu&Kashmir': 'Jammu & Kashmir',
                                              'Andhrapradesh': 'Andhra Pradesh',
                                              'Himachalpradesh': 'Himachal Pradesh',
                                              'Arunachalpradesh': 'Arunachal Pradesh',
                                              'Westbengal': 'West Bengal',
                                              'Uttarpradesh': 'Uttar Pradesh',
                                              'Madhyapradesh': 'Madhya Pradesh',
                                              'Tamilnadu': 'Tamil Nadu'
                                          })

In [4]:
# Aggregated user

path1="/content/pulse/data/aggregated/user/country/india/state/"
agg_user_list=os.listdir(path1)
clm_1={'State':[], 'Year':[],'Quarter':[],'Brands':[], 'Transaction_count':[], 'percentage':[]}
for i in agg_user_list:
    cur_sates=path1+i+'/'
    agg_yr=os.listdir(cur_sates)
    for j in agg_yr:
        cur_yr=cur_sates+j+'/'
        agg_yr_list=os.listdir(cur_yr)
        for k in agg_yr_list:
            cur_file=cur_yr+k
            data=open(cur_file,'r')
            A=json.load(data)
            try:

                for z in A['data']['usersByDevice']:
                    Brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    clm_1['Brands'].append(Brand)
                    clm_1['Transaction_count'].append(count)
                    clm_1['percentage'].append(percentage)
                    clm_1['State'].append(i)
                    clm_1['Year'].append(j)
                    clm_1['Quarter'].append(int(k.strip('.json')))
            except:
                pass


Agg_user=pd.DataFrame(clm_1)

Agg_user['State']=Agg_user['State'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
Agg_user['State']=Agg_user['State'].str.replace('-','')
Agg_user['State']=Agg_user['State'].str.title()
Agg_user['State']=Agg_user['State'].str.replace('Dadra&Nagarhaveli&Daman&Diu', 'Dadra and Nagar Haveli and Daman and Diu')
Agg_user['percentage'] = Agg_user['percentage'] * 100
Agg_user['State']=Agg_user['State'].replace({
                                               'Jammu&Kashmir': 'Jammu & Kashmir',
                                               'Andhrapradesh': 'Andhra Pradesh',
                                               'Himachalpradesh': 'Himachal Pradesh',
                                               'Arunachalpradesh': 'Arunachal Pradesh',
                                               'Westbengal': 'West Bengal',
                                               'Uttarpradesh': 'Uttar Pradesh',
                                               'Madhyapradesh': 'Madhya Pradesh',
                                               'Tamilnadu': 'Tamil Nadu'
                                           })

In [81]:
#Agg_user.isna().sum() null value find
# Agg_user['State].unique()

In [7]:
# Create map transaction

path2="/content/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list=os.listdir(path2)
clm_3={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in map_trans_list:
    cur_sates=path2+i+'/'
    agg_yr=os.listdir(cur_sates)
    for j in agg_yr:
        cur_yr=cur_sates+j+'/'
        agg_yr_list=os.listdir(cur_yr)
        for k in agg_yr_list:
            cur_file=cur_yr+k
            data=open(cur_file,'r')
            B=json.load(data)

            for z in B['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm_3['Districts'].append(Name)
              clm_3['Transaction_count'].append(count)
              clm_3['Transaction_amount'].append(amount)
              clm_3['State'].append(i)
              clm_3['Year'].append(j)
              clm_3['Quarter'].append(int(k.strip('.json')))

map_trans=pd.DataFrame(clm_3)

map_trans['State']=map_trans['State'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
map_trans['State']=map_trans['State'].str.replace('-','')
map_trans['State']=map_trans['State'].str.title()
map_trans['State']=map_trans['State'].str.replace('Dadra&Nagarhaveli&Daman&Diu', 'Dadra and Nagar Haveli and Daman and Diu')
map_trans['State']=map_trans['State'].replace({
                                              'Jammu&Kashmir': 'Jammu & Kashmir',
                                              'Andhrapradesh': 'Andhra Pradesh',
                                              'Himachalpradesh': 'Himachal Pradesh',
                                              'Arunachalpradesh': 'Arunachal Pradesh',
                                              'Westbengal': 'West Bengal',
                                              'Uttarpradesh': 'Uttar Pradesh',
                                              'Madhyapradesh': 'Madhya Pradesh',
                                              'Tamilnadu': 'Tamil Nadu'
                                          })

In [10]:
# create map user
path3="/content/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path3)
clm_3={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'RegisteredUsers':[], 'AppOpens':[]}

for i in map_user_list:
    cur_sates=path3+i+'/'
    agg_yr=os.listdir(cur_sates)

    for j in agg_yr:
        cur_yr=cur_sates+j+'/'
        agg_yr_list=os.listdir(cur_yr)

        for k in agg_yr_list:
            cur_file=cur_yr+k
            data=open(cur_file,'r')
            C=json.load(data)

            for z in C['data']['hoverData'].items():
              district=z[0]
              reg_user=z[1]['registeredUsers']
              appOpen=z[1]['appOpens']
              clm_3['Districts'].append(district)
              clm_3['RegisteredUsers'].append(reg_user)
              clm_3['AppOpens'].append(appOpen)
              clm_3['State'].append(i)
              clm_3['Year'].append(j)
              clm_3['Quarter'].append(int(k.strip('.json')))


map_user=pd.DataFrame(clm_3)

map_user['State']=map_user['State'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
map_user['State']=map_user['State'].str.replace('-','')
map_user['State']=map_user['State'].str.title()
map_user['State']=map_user['State'].str.replace('Dadra&Nagarhaveli&Daman&Diu', 'Dadra and Nagar Haveli and Daman and Diu')
map_user['State']=map_user['State'].replace({
                                              'Jammu&Kashmir': 'Jammu & Kashmir',
                                              'Andhrapradesh': 'Andhra Pradesh',
                                              'Himachalpradesh': 'Himachal Pradesh',
                                              'Arunachalpradesh': 'Arunachal Pradesh',
                                              'Westbengal': 'West Bengal',
                                              'Uttarpradesh': 'Uttar Pradesh',
                                              'Madhyapradesh': 'Madhya Pradesh',
                                              'Tamilnadu': 'Tamil Nadu'
                                          })

In [12]:
# create top transaction

path4="/content/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path4)
clm_4={'State':[], 'Year':[],'Quarter':[],'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in top_trans_list :
    cur_sates=path4+i+'/'
    agg_yr=os.listdir(cur_sates)

    for j in agg_yr:
        cur_yr=cur_sates+j+'/'
        agg_yr_list=os.listdir(cur_yr)

        for k in agg_yr_list:
            cur_file=cur_yr+k
            data=open(cur_file,'r')
            E=json.load(data)

            for z in E['data']['pincodes']:
              ent_name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm_4['Pincodes'].append(ent_name)
              clm_4['Transaction_count'].append(count)
              clm_4['Transaction_amount'].append(amount)
              clm_4['State'].append(i)
              clm_4['Year'].append(j)
              clm_4['Quarter'].append(int(k.strip('.json')))

top_trans=pd.DataFrame(clm_4)

top_trans['State']=top_trans['State'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
top_trans['State']=top_trans['State'].str.replace('-','')
top_trans['State']=top_trans['State'].str.title()
top_trans['State']=top_trans['State'].str.replace('Dadra&Nagarhaveli&Daman&Diu', 'Dadra and Nagar Haveli and Daman and Diu')
top_trans['State']=top_trans['State'].replace({
                                              'Jammu&Kashmir': 'Jammu & Kashmir',
                                              'Andhrapradesh': 'Andhra Pradesh',
                                              'Himachalpradesh': 'Himachal Pradesh',
                                              'Arunachalpradesh': 'Arunachal Pradesh',
                                              'Westbengal': 'West Bengal',
                                              'Uttarpradesh': 'Uttar Pradesh',
                                              'Madhyapradesh': 'Madhya Pradesh',
                                              'Tamilnadu': 'Tamil Nadu'
                                          })

In [14]:
# create top user
path5="/content/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path5)
clm_5={'State':[], 'Year':[],'Quarter':[],'Pincodes':[], 'RegisteredUsers':[]}

for i in top_user_list :
    cur_sates=path5+i+'/'
    agg_yr=os.listdir(cur_sates)

    for j in agg_yr:
        cur_yr=cur_sates+j+'/'
        agg_yr_list=os.listdir(cur_yr)

        for k in agg_yr_list:
            cur_file=cur_yr+k
            data=open(cur_file,'r')
            F=json.load(data)

            for z in F['data']['pincodes']:
              ent_name=z['name']
              reg_user=z['registeredUsers']
              clm_5['Pincodes'].append(ent_name)
              clm_5['RegisteredUsers'].append(reg_user)
              clm_5['State'].append(i)
              clm_5['Year'].append(j)
              clm_5['Quarter'].append(int(k.strip('.json')))


top_user=pd.DataFrame(clm_5)

top_user['State']=top_user['State'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
top_user['State']=top_user['State'].str.replace('-','')
top_user['State']=top_user['State'].str.title()
top_user['State']=top_user['State'].str.replace('Dadra&Nagarhaveli&Daman&Diu', 'Dadra and Nagar Haveli and Daman and Diu')
top_user['State']=top_user['State'].replace({
                                              'Jammu&Kashmir': 'Jammu & Kashmir',
                                              'Andhrapradesh': 'Andhra Pradesh',
                                              'Himachalpradesh': 'Himachal Pradesh',
                                              'Arunachalpradesh': 'Arunachal Pradesh',
                                              'Westbengal': 'West Bengal',
                                              'Uttarpradesh': 'Uttar Pradesh',
                                              'Madhyapradesh': 'Madhya Pradesh',
                                              'Tamilnadu': 'Tamil Nadu'
                                          })

In [ ]:
# Sql table creation

# Connecting tp Sql

In [16]:
import sqlite3
con = sqlite3.connect("phonepe.db")
cur = con.cursor()

In [17]:
# aggregated transaction
con = sqlite3.connect("phonepe.db")
cur = con.cursor()
Create_Query=  '''Create table if not exists aggregated_transaction(State varchar(200),
                                                                   Year int,
                                                                   Quarter int,
                                                                   Transaction_type varchar(250),
                                                                   Transaction_count bigint,
                                                                   Transaction_amount bigint
                                                                   )'''
cur.execute(Create_Query)
con.commit()


for index,row in Agg_trans.iterrows():
    insert_query='''Insert into aggregated_transaction(State,
                                                        Year, Quarter,
                                                        Transaction_type,
                                                        Transaction_count,
                                                        Transaction_amount
                                                        )

                                                        values(?,?,?,?,?,?)'''


    values =   (row["State"],
                row["Year"],
                row["Quarter"],
                row["Transaction_type"],
                row["Transaction_count"],
                row["Transaction_amount"]
                        )
    cur.execute(insert_query,values)
    con.commit()

In [ ]:
Agg_user.columns

Index(['State', 'Year', 'Quarter', 'Brands', 'Transaction_count',
       'percentage'],
      dtype='object')

In [18]:
# aggregated user table creation
con = sqlite3.connect("phonepe.db")
cur = con.cursor()
Create_Query_1=  '''Create table if not exists aggregated_user(State varchar(200),
                                                                   Year int,
                                                                   Quarter int,
                                                                   Brands varchar(250),
                                                                   Transaction_count bigint,
                                                                   percentage float
                                                                   )'''
cur.execute(Create_Query_1)
con.commit()

for index,row in Agg_user.iterrows():
    insert_query_1='''Insert into aggregated_user(State,
                                                        Year, Quarter,
                                                        Brands,
                                                        Transaction_count,
                                                        percentage
                                                        )

                                                        values(?,?,?,?,?,?)'''


    values =   (row["State"],
                row["Year"],
                row["Quarter"],
                row["Brands"],
                row["Transaction_count"],
                row["percentage"]
                        )
    cur.execute(insert_query_1,values)
    con.commit()

In [19]:
# map user table creation
con = sqlite3.connect("phonepe.db")
cur = con.cursor()
Create_Query_3=  '''Create table if not exists map_user(State varchar(200),
                                                                   Year int,
                                                                   Quarter int,
                                                                   Districts varchar(250),
                                                                   RegisteredUsers bigint,
                                                                   AppOpens bigint
                                                                   )'''
cur.execute(Create_Query_3)
con.commit()

for index,row in map_user.iterrows():
    insert_query_3='''Insert into map_user(State,
                                            Year, Quarter,
                                            Districts,
                                            RegisteredUsers,
                                            AppOpens
                                            )

                                                values(?,?,?,?,?,?)'''


    values =   (row["State"],
                row["Year"],
                row["Quarter"],
                row["Districts"],
                row["RegisteredUsers"],
                row["AppOpens"]
                        )
    cur.execute(insert_query_3,values)
    con.commit()

In [20]:
# map transaction table creation
con = sqlite3.connect("phonepe.db")
cur = con.cursor()
Create_Query_2=  '''Create table if not exists map_transaction(State varchar(200),
                                                                   Year int,
                                                                   Quarter int,
                                                                   Districts varchar(250),
                                                                   Transaction_count bigint,
                                                                   Transaction_amount bigint
                                                                   )'''
cur.execute(Create_Query_2)
con.commit()

for index,row in map_trans.iterrows():
    insert_query_2='''Insert into map_transaction(State,
                                                        Year, Quarter,
                                                        Districts,
                                                        Transaction_count,
                                                        Transaction_amount
                                                        )

                                                        values(?,?,?,?,?,?)'''


    values =   (row["State"],
                row["Year"],
                row["Quarter"],
                row["Districts"],
                row["Transaction_count"],
                row["Transaction_amount"]
                        )
    cur.execute(insert_query_2,values)
    con.commit()

In [21]:
# top transaction table creation
con = sqlite3.connect("phonepe.db")
cur = con.cursor()

Create_Query_4=  '''Create table if not exists top_transaction(State varchar(200),
                                                                   Year int,
                                                                   Quarter int,
                                                                   Pincodes bigint(250),
                                                                   Transaction_count bigint,
                                                                   Transaction_amount bigint
                                                                )'''
cur.execute(Create_Query_4)
con.commit()

for index,row in top_trans.iterrows():
    insert_query_4='''Insert into top_transaction(State,
                                            Year, Quarter,
                                            Pincodes,
                                            Transaction_count,
                                            Transaction_amount
                                            )

                                                values(?,?,?,?,?,?)'''


    values =   (row["State"],
                row["Year"],
                row["Quarter"],
                row["Pincodes"],
                row["Transaction_count"],
                row["Transaction_amount"]
                        )
    cur.execute(insert_query_4,values)
    con.commit()

In [22]:
# top user table creation
con = sqlite3.connect("phonepe.db")
cur = con.cursor()
Create_Query_5=  '''Create table if not exists top_users(State varchar(200),
                                                                   Year int,
                                                                   Quarter int,
                                                                   Pincodes bigint(250),
                                                                   RegisteredUsers bigint
                                                                )'''
cur.execute(Create_Query_5)
con.commit()

for index,row in top_user.iterrows():
    insert_query_5='''Insert into top_users(State,
                                            Year, Quarter,
                                            Pincodes,
                                            RegisteredUsers
                                            )

                                                values(?,?,?,?,?)'''


    values =   (row["State"],
                row["Year"],
                row["Quarter"],
                row["Pincodes"],
                row["RegisteredUsers"]
                )
    cur.execute(insert_query_5,values)
    con.commit()

In [ ]:
# Dataframe creation using pandas lib for easy way

In [23]:
con = sqlite3.connect("phonepe.db")
cur = con.cursor()
#aggregated transaction_df

cur.execute("SELECT * FROM aggregated_transaction")
con.commit()
table1=cur.fetchall()

Agg_trans=pd.DataFrame(table1,columns=("State","Year","Quarter","Transaction_type",
                                       "Transaction_count","Transaction_amount"))

# aggregated user_df

cur.execute("SELECT * FROM aggregated_user")
con.commit()

table2=cur.fetchall()

Agg_user=pd.DataFrame(table2,columns=("State","Year","Quarter","Brands",
                                       "Transaction_count","percentage"))

# map_transaction_df
cur.execute("SELECT * FROM map_transaction")
con.commit()
table3=cur.fetchall()

map_trans=pd.DataFrame(table3,columns=("State","Year","Quarter","Districts",
                                       "Transaction_count","Transaction_amount"))

# map_user_df
cur.execute("SELECT * FROM map_user")
con.commit()
table4=cur.fetchall()

map_user=pd.DataFrame(table4,columns=("State","Year","Quarter","Districts",
                                       "RegisteredUsers","AppOpens"))

# top_transaction_df
cur.execute("SELECT * FROM top_transaction")
con.commit()
table5=cur.fetchall()

top_trans=pd.DataFrame(table5,columns=("State","Year","Quarter","Pincodes",
                                       "Transaction_count","Transaction_amount"))


# top_user_df
cur.execute("SELECT * FROM top_users")
con.commit()
table6=cur.fetchall()

top_user=pd.DataFrame(table6,columns=("State","Year","Quarter","Pincodes",
                                       "RegisteredUsers"))

In [ ]:

!pip install streamlit
!pip install streamlit_option-menu
!pip install pyngrok
!npm install localtunnel

In [78]:
# streamlit part
%%writefile app.py
import requests
import pandas as pd
import json
import plotly.express as px
import streamlit as st
from PIL import Image
from streamlit_option_menu import option_menu
import sqlite3

con = sqlite3.connect("phonepe.db")
cur = con.cursor()

def transaction_locations__amount_all(Year):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    query1=f'''SELECT state,SUM(Transaction_amount) as transaction_amount,SUM(Transaction_count) as transaction_count FROM aggregated_transaction WHERE year={Year} GROUP BY state order by transaction_amount desc'''
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["State","Transaction Amount","Transaction Count"])
    fig=px.choropleth(table, geojson= data1, locations= "State", featureidkey= "properties.ST_NM", color= "Transaction Amount",
                                color_continuous_scale= "Sunsetdark", hover_name= "State", title = "TRANSACTION AMOUNT")
    fig.update_geos(fitbounds= "locations", visible =False)
    #fig.show()
    return st.plotly_chart(fig)

def transaction_locations_year(Year,Quarter):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    query1=f'''SELECT state,SUM(Transaction_amount) as transaction_amount,SUM(Transaction_count) as transaction_count FROM aggregated_transaction WHERE year={Year} AND quarter={Quarter} GROUP BY state ORDER BY transaction_amount DESC'''
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["State","Transaction Amount","Transaction Count"])
    fig=px.choropleth(table, geojson= data1,
                      locations= "State",
                      featureidkey= "properties.ST_NM", color= "Transaction Amount",
                      color_continuous_scale= "Sunsetdark", hover_name= "State", title = "TRANSACTION AMOUNT")
    fig.update_geos(fitbounds= "locations", visible =False)
    #fig.show()

    return st.plotly_chart(fig)

def transaction_locations_count_all(Year2):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)

    data1=json.loads(response.content)
    query1=f'''SELECT state,SUM(Transaction_amount) as transaction_amount,SUM(Transaction_count) as transaction_count FROM aggregated_transaction WHERE year={Year2} GROUP BY state order by transaction_count desc'''
    cur.execute(query1)

    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["State","Transaction Amount","Transaction Count"])
    fig=px.choropleth(table, geojson= data1, locations= "State", featureidkey= "properties.ST_NM", color= "Transaction Count",
                                color_continuous_scale= "Sunsetdark", hover_name= "State", title = "TRANSACTION COUNT")
    fig.update_geos(fitbounds= "locations", visible =False)
    fig.update_layout(title_font= {"size":20})
    #fig.show()

    return st.plotly_chart(fig)

def transaction_count_year(Year2,Quarter2):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    query1=f'''SELECT state,SUM(Transaction_amount) as transaction_amount,SUM(Transaction_count) as transaction_count FROM aggregated_transaction WHERE year={Year2} AND quarter={Quarter2} GROUP BY state ORDER BY transaction_count DESC'''
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["State","Transaction Amount","Transaction Count"])
    fig=px.choropleth(table, geojson= data1, locations= "State", featureidkey= "properties.ST_NM", color= "Transaction Count",
                                color_continuous_scale= "Sunsetdark", hover_name= "State", title = "TRANSACTION COUNT")
    fig.update_geos(fitbounds= "locations", visible =False)
    #fig.show()

    return st.plotly_chart(fig)

def payment_transc_type_amount(Year3):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    query1=(f"SELECT transaction_type,SUM(transaction_amount) as Amount FROM aggregated_transaction WHERE year={Year3} GROUP BY transaction_type ORDER BY Amount DESC")
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["Transaction Type","Transaction Amount"])
    fig_trans=px.bar(table,x="Transaction Type", y="Transaction Amount",title= "Transaction Type" and "Transaction Amount",
                     color_discrete_sequence=px.colors.sequential.Reds_r)
    fig_trans.update_layout(width=600, height=500)
    #fig_trans.show()
    return st.plotly_chart(fig_trans)

def payment_transc_type_all_amount(Year3,Quarter3):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    query1=(f"SELECT transaction_type,SUM(transaction_amount) as Amount FROM aggregated_transaction WHERE year={Year3} and quarter={Quarter3} GROUP BY transaction_type ORDER BY Amount DESC")
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["Transaction Type","Transaction Amount"])
    fig_trans=px.bar(table,x="Transaction Type", y="Transaction Amount",title= "Transaction Type" and "Transaction Amount",
                     color_discrete_sequence=px.colors.sequential.Reds_r)
    fig_trans.update_layout(width=600, height=500)
    #fig_trans.show()
    return st.plotly_chart(fig_trans)

def registered_user(Year4):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    query1=(f"SELECT state,SUM(registeredusers) as Users FROM map_user WHERE year={Year4} GROUP BY state order by Users desc")
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["State","Registered Users"])
    fig=px.choropleth(table, geojson= data1, locations= "State", featureidkey= "properties.ST_NM", color= "Registered Users",
                                color_continuous_scale= "Sunsetdark", hover_name= "State", title = "Registered Users")
    fig.update_geos(fitbounds= "locations", visible =False, projection_scale=5, center={"lat": 20.5937, "lon": 78.9629})
    #fig.show()

    return st.plotly_chart(fig)

def registered_user_all(Year4,Quarter4):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    query1=f'''SELECT state,SUM(registeredUsers) as Users FROM map_user WHERE year={Year4} and quarter={Quarter4} GROUP BY state ORDER BY Users DESC'''
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["State","RegisteredUsers"])
    fig=px.choropleth(table, geojson= data1, locations= "State", featureidkey= "properties.ST_NM", color= "RegisteredUsers",
                                color_continuous_scale= "Sunsetdark", hover_name= "State", title = "RegisteredUsers")
    fig.update_geos(fitbounds= "locations", visible =False)
    #fig.show()

    return st.plotly_chart(fig)

def payment_transc_type_count(Year5):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    query1=(f"SELECT transaction_type,SUM(Transaction_count) as Count FROM aggregated_transaction WHERE year={Year5} GROUP BY transaction_type ORDER BY Count DESC")
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["Transaction Type","Transaction Count"])
    fig_trans=px.bar(table,x="Transaction Type", y="Transaction Count",title= "Transaction Type" and "Transaction Count",
                     color_discrete_sequence=px.colors.sequential.Reds_r)
    fig_trans.update_layout(width=600, height=500)
    #fig_trans.show()

    return st.plotly_chart(fig_trans)

def payment_transc_type_count_all(Year5,Quarter5):
    con = sqlite3.connect("phonepe.db")
    cur = con.cursor()
    query1=(f"SELECT transaction_type,SUM(Transaction_count) as Amount FROM aggregated_transaction WHERE year={Year5} and quarter={Quarter5} GROUP BY transaction_type ORDER BY Amount  DESC")
    cur.execute(query1)
    table1=cur.fetchall()
    table=pd.DataFrame(table1,columns=["Transaction Type","Transaction Count"])
    fig_trans=px.bar(table,x="Transaction Type", y="Transaction Count",title= "Transaction Type" and "Transaction Count",
                     color_discrete_sequence=px.colors.sequential.Reds_r)
    fig_trans.update_layout(width=600, height=500)
    #fig_trans.show()

    return st.plotly_chart(fig_trans)


# streamlit part
st.set_page_config(layout="wide")
page_bg_img='''
<style>
[data-testid="stAppViewContainer"]{
        background-color:#9334CD;
}
</style>'''
st.markdown(page_bg_img,unsafe_allow_html=True)

with st.container():
    st.title("Phonepe Pulse Data Visualization and Exploration")
    st.subheader(":black[This is a User-Friendly Tool to know the insights about PhonePe]")
    #st.image(Image.open(r"C:\Users\Welcome\Desktop\phonepe.jpg"),width=700)

select= option_menu(menu_title=None,
                       options=["Explore Data", "Insights", "About"],
                       icons=["map","bar-chart","house"],
                       default_index=2,
                       orientation="horizontal",
                       styles={"container": {"padding": "0!important", "background-color": "white","size":"cover", "width": "100%"},
                                "icon": {"color": "black", "font-size": "20px"},
                                "nav-link": {"font-size": "20px", "text-align": "center", "margin": "-2px", "--hover-color": "#ADD8E6"},
                                "nav-link-selected": {"background-color": "#ADD8E6"}})

if select=="Explore Data":
    listTabs=["***Transaction Amount***","***Transaction Count***","***PhonePe Users***","***Transaction Type***"]
    whitespace = 33
    tabs = st.tabs([s.center(whitespace,"\u2001") for s in listTabs])

    with tabs[0]:

        Year=st.selectbox("Year",("Select Year to know Transaction Amount",2018,2019,2020,2021,2022,2023))
        Quarter=st.selectbox("Quarter",("Select Quarter to know Transaction Amount","All",1,2,3,4))
        if Year!="Select Year" and (Quarter=='All'):
            transaction_locations__amount_all(Year)
        elif Quarter in [1,2,3,4]:
            transaction_locations_year(Year,Quarter)

    with tabs[1]:
        Year2=st.selectbox("Year2",("Select to know Transaction Count",2018,2019,2020,2021,2022,2023))
        Quarter2=st.selectbox("Quarter2",("Select Quarter to know Transaction Count","All",1,2,3,4))
        if Year2!="Select" and (Quarter2=="All"):
            transaction_locations_count_all(Year2)
        elif Quarter2 in [1,2,3,4] and Year2!="Select":
            transaction_count_year(Year2,Quarter2)

    with tabs[2]:
        Year3=st.selectbox("Year3",("Select to know PhonePe Users",2018,2019,2020,2021,2022,2023))
        Quarter3=st.selectbox("Quarter3",("Select Quarter to know about PhonePe Users","All",1,2,3,4))
        if Year3!="Select" and (Quarter3=="All"):
            registered_user(Year3)
        elif Quarter3 in [1,2,3,4] and Year3!="Select":
            registered_user_all(Year3,Quarter3)

    with tabs[3]:
        col1,col2=st.columns(2)
        with col1:
            Year4=st.selectbox("Year4",("Select Year to know Transaction Type Amount",2018,2019,2020,2021,2022,2023))
            Quarter4=st.selectbox("Quarter4",("Select Quarter to know Transaction Type Amount","All",1,2,3,4))
            if Year4!="Select" and (Quarter4=="All"):
                payment_transc_type_amount(Year4)
            elif Quarter4 in [1,2,3,4] and Year4!="Select":
                payment_transc_type_all_amount(Year4,Quarter4)

        with col2:
            Year5=st.selectbox("Year5",("Select Year to know Transaction Type Count",2018,2019,2020,2021,2022,2023))
            Quarter5=st.selectbox("Quarter5",("Select Quarter to know Transaction Type Count","All",1,2,3,4))
            if Year5!="Select" and (Quarter5=="All"):
                payment_transc_type_count(Year5)
            elif Quarter5 in [1,2,3,4] and Year5!="Select":
                payment_transc_type_count_all(Year5,Quarter5)

if select=="Insights":
    st.subheader("Choose the options below to know about Insights of the data_")
    options = st.selectbox("Questions:",["Please select one",

                                          "Top brands of mobile used",
                                          "Top 10 District With Lowest Transaction Amount",
                                          "Top 10 District With Highest Transaction Amount",
                                          "PhonePe users from 2018 to 2023",
                                          "Top 10 States with Highest PhonePe User",
                                          "Top 10 States with Lowest PhonePe User",
                                          "Top 10 Districts with Highest PhonePe User",
                                          "Top 10 Districts with Lowest PhonePe User",
                                          "The year which recorded most no of Appopens across India",
                                          "The States which were unaware about Phonepe",
                                          ])

    if options=="Top brands of mobile used":
        Year=st.selectbox("Year",("Select Year to Know about Brands",2018,2019,2020,2021,2022,2023))
        if Year!="Select Year to Know about Brands":
            query1=(f"select brands,sum(Transaction_count) as Count from aggregated_user where year={Year} group by brands order by Count desc")
            cur.execute(query1)
            table=cur.fetchall()
            table1=pd.DataFrame(table,columns=["Brand","Count"])
            fig = px.bar(table1, x='Brand', y='Count')
            st.plotly_chart(fig)

    elif options=="Top 10 District With Lowest Transaction Amount":
        Year=st.selectbox("Year",("Select Year for lowest transaction",2018,2019,2020,2021,2022,2023))
        if Year!="Select Year for lowest transaction":
            query2=(f"select districts,sum(Transaction_amount) as Amount from map_transaction where year={Year} group by districts order by Amount asc")
            cur.execute(query2)
            table=cur.fetchall()
            table2=pd.DataFrame(table,columns=["District","Transaction Amount"])
            tab=table2.head(10)
            fig = px.pie(tab,values="Transaction Amount",names="District",title="Top 10 Lowest Transactions" )
            st.plotly_chart(fig)

    elif options=="Top 10 District With Highest Transaction Amount":
         Year=st.selectbox("Year",("Select Year for highest transaction",2018,2019,2020,2021,2022,2023))
         if Year!="Select Year for highest transaction":
            query3=(f"select districts,sum(Transaction_amount) as Amount from map_transaction where year={Year} group by districts order by Amount desc")
            cur.execute(query3)
            table=cur.fetchall()
            table2=pd.DataFrame(table,columns=["District","Transaction Amount"])
            tab=table2.head(10)
            fig = px.pie(tab,values="Transaction Amount",names="District",title="Top 10 Highest Transactions" )
            st.plotly_chart(fig)

    elif options=="PhonePe users from 2018 to 2023":
         query4=("select year,sum(RegisteredUsers) as users from map_user group by year order by users")
         cur.execute(query4)
         table=cur.fetchall()
         table2=pd.DataFrame(table,columns=["Year","PhonePe Users"])
         fig = px.line(table2,x="Year",y="PhonePe Users",title="No. of Users" )
         st.plotly_chart(fig)

    elif options=="Top 10 States with Highest PhonePe User":
          Year=st.selectbox("Year",("Select Year for highest PhonePe User",2018,2019,2020,2021,2022,2023))
          if Year!="Select Year for highest PhonePe User":
             query5=(f"select state,sum(RegisteredUsers) as users from map_user where year={Year} group by state order by users desc")
             cur.execute(query5)
             table=cur.fetchall()
             table2=pd.DataFrame(table,columns=["State","Registered Users"])
             tab=table2.head(10)
             fig = px.pie(tab,values="Registered Users",names="State",title="Top 10 Highest PhonePe Users" )
             st.plotly_chart(fig)

    elif options=="Top 10 States with Lowest PhonePe User":
         Year=st.selectbox("Year",("Select Year for highest PhonePe User",2018,2019,2020,2021,2022,2023))
         if Year!="Select Year for highest PhonePe User":
             query6=(f"select state,sum(RegisteredUsers) as users from map_user where year={Year} group by state order by users asc")
             cur.execute(query6)
             table=cur.fetchall()
             table2=pd.DataFrame(table,columns=["State","Registered Users"])
             tab=table2.head(10)
             fig = px.pie(tab,values="Registered Users",names="State",title="Top 10 Lowest PhonePe Users" )
             st.plotly_chart(fig)

    elif options=="Top 10 Districts with Highest PhonePe User":
         Year=st.selectbox("Year",("Select Year for highest PhonePe User",2018,2019,2020,2021,2022,2023))
         if Year!="Select Year for highest PhonePe transaction":
             query7=(f"select districts,sum(RegisteredUsers) as users from map_user where year={Year} group by districts order by users desc")
             cur.execute(query7)
             table=cur.fetchall()
             table2=pd.DataFrame(table,columns=["Districts","Registered Users"])
             tab=table2.head(10)
             fig = px.pie(tab,values="Registered Users",names="Districts",title="Top 10 highest PhonePe Users" )
             st.plotly_chart(fig)

    elif options=="Top 10 Districts with Lowest PhonePe User":
         Year=st.selectbox("Year",("Select Year for highest PhonePe User",2018,2019,2020,2021,2022,2023))
         if Year!="Select Year for Lowest PhonePe transaction":
             query8=(f"select districts,sum(RegisteredUsers) as users from map_user where year={Year} group by districts order by users asc")
             cur.execute(query8)
             table=cur.fetchall()
             table2=pd.DataFrame(table,columns=["Districts","Registered Users"])
             tab=table2.head(10)
             fig = px.pie(tab,values="Registered Users",names="Districts",title="Top 10 Lowest PhonePe Users" )
             st.plotly_chart(fig)

    elif options=="The year which recorded most no of Appopens across India":
          year_options = ["Select Year for highest Appopens PhonePe user", 2018, 2019, 2020, 2021, 2022, 2023]
          year = st.selectbox("Year", year_options)
          if year != "Select Year for highest Appopens PhonePe user":
              query9=f"SELECT year, SUM(AppOpens) AS appopens FROM map_user WHERE year={year} GROUP BY year ORDER BY appopens DESC"
              cur.execute(query9)
              table=cur.fetchall()
              table2=pd.DataFrame(table,columns=["Year","AppOpens"])
              fig=px.bar(table2,x="Year", y="AppOpens",title= "Year" and "AppOpens",
                        color_discrete_sequence=px.colors.sequential.Blues_r)
              st.plotly_chart(fig)

    elif options=="The States which were unaware about Phonepe":
         year_options = ["Select Year for highest Appopens PhonePe user", 2018, 2019, 2020, 2021, 2022, 2023]
         year = st.selectbox("Year", year_options)
         if year != "Select Year for unaware Appopens PhonePe user":
              query10=f"SELECT state, SUM(AppOpens) AS appopens FROM map_user WHERE year={year} GROUP BY state ORDER BY appopens"
              cur.execute(query10)
              table=cur.fetchall()
              table2=pd.DataFrame(table,columns=["State","Transaction"])
              tab=table2.head(10)
              fig=px.bar(tab,x="State", y="Transaction", title= "State" and "Transaction",
                         color_discrete_sequence=px.colors.sequential.Blues_r)
              st.plotly_chart(fig)


if select=="About":
    col1, col2 = st.columns(2)
    with col1:
        st.header("**PhonePe**")
        st.subheader("_India's Best Transaction App_")
        st.write("""_PhonePe is a digital wallet and mobile payment platform in India.It uses the Unified Payment Interface (UPI) system to allow users to send and receive money recharge mobile, DTH, data cards,make utility payments,pay at shops,invest in tax saving funds,buy insurance, mutual funds and digital gold._""")
        st.write("****FEATURES****")
        st.write("   **- Fund Transfer**")
        st.write("   **- Payment to Merchant**")
        st.write("   **- Recharge and Bill payments**")
        st.write("   **- Autopay of Bills**")
        st.write("   **- Cashback and Rewards and much more**")

    with col2:
        st.write("***To know more about PhonePe click below***")
        st.link_button(":violet[**PhonePe**]", "https://www.phonepe.com/")

Overwriting app.py

In [80]:
!streamlit run /content/app.py &>/content/logs.txt & npx localtunnel --port 8501 & curl ipv4.icanhazip.com

34.74.11.18
npx: installed 22 in 2.655s
your url is: https://quick-places-occur.loca.lt